.active_applications_list {
  ul.active_items button:focus {
    outline: none !important;
    background-color: $color-gray-100;
  }
    
  ul.active_items button:hover {
    outline: none !important;
    background-color: $color-gray-100;
  }
}

.application_tree {
  .node{
    fill: $color-gray-100;
    stroke: $color-gray-warm-200;
    stroke-width:1;
  }
  
  .node:hover {
    cursor: pointer;
  }
      
  .line {
    stroke: $color-gray-warm-600;    
    stroke-width:2
  }
  
  .tree {
    position: relative; 
    top: 20px;
  }
  .tree_node_text {
    font-size: 14px;
    font-family: 'LiveDashboardFont';
  }
}

.applications_tab{
  .overflow {
    max-height: 1000px;
    margin-bottom: 10px;
    overflow:auto;    
    -webkit-overflow-scrolling: touch;
    padding-right: 0px;
  }
}