// Small cards with colorful backgrounds
.banner-card {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background-color: $white;
  padding: 1rem;
}

.banner-card-title {
  margin-bottom: 0.2rem;
}

.banner-card-value {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: -0.15rem;
}
