// Charts page layout
.charts-col {
  margin-bottom: 2rem;

  .card {
    padding: 0.5rem;

    .hint {
      position: absolute;
      right: 14px;
    }

    .uplot {
      font-family: 'LiveDashboardFont';
      max-width: 100%;

      &.summary {
        .legend {
          tr:nth-child(n+3) {
            display: table-row;
          }
        }
      }

      .title {
        font-weight: 900;
        margin-bottom: 0.75rem;
      }

      .legend {
        font-size: 0.75rem;
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        width: 100%;

        .series {
          display: flex;
          flex-basis: 45%;
          order: 10;

          th {
            align-items: center;
            display: flex;
            flex-basis: 55px;
          }

          td {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            min-width: 0;
          }

          &:first-child {
            background-color: $color-gray-100;
            color: $color-gray-800;
            flex-basis: 100%;
            margin: 1.75rem 0 0.5rem 0;
            order: 1;
            text-align: center;
            display: inline-block;

            th {
              display: inline-block;
            }

            .ident {
              display: none;
            }
          }

          &:nth-child(2) {
            order: 2;
          }

          &:nth-child(5) {
            order: 4;
          }

          &:nth-child(3) {
            order: 3;
          }
        }
      }
    }
  }
}

.charts-nav {
  border-bottom: 1px solid change-color($color-gray-600, $alpha: 0.7);
  margin-top: -0.5rem;

  .nav-link {
    opacity: 0.7;
    &:hover {
      border-bottom-color: change-color($color-gray-600, $alpha: 0.7);
      opacity: 1;
    }
  }

  .nav-link.active {
    background-color: transparent;
    border-color: change-color($color-gray-600, $alpha: 0.7);
    border-bottom-color: $color-gray-300;
    color: $color-elixir-800;
    opacity: 1;
  }
}

@media (min-width: map-get($grid-breakpoints, xxl)) {
  [data-phx-view="LiveDashboard.MetricsLive"] #main.container{
    max-width: 95%;

    .charts-nav {
      max-width: map-get($container-max-widths, xl);
    }
  }
}
