// Container for code or monospaced text
.code-field {
  background-color: $color-gray-warm-100;
  color: $color-gray-warm-700;
  border-radius: $border-radius;
  border-width: 0;
  font-weight: 100;
  padding: 0.5rem 0.75rem;
  white-space: nowrap;
  width: 100%;
  resize: none;
  overflow: auto;
  margin-bottom: 0.75rem;
  scrollbar-width: none;

  &:focus {
    outline: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
