.memory-usage {
  .progress {
    border-radius: 2px;
    height: 1.5rem;
    background-color: transparent;
  }

  .progress-bar {
    border-color: white;
    border-style: solid;
    border-width: 0 1px;
  }

  .progress-bar:last-child {
    border-right-width: 0;
  }

  .progress-bar:first-child {
    border-left-width: 0;
  }

  .memory-usage-section-atom {
    background-color: #4db167;
  }

  .memory-usage-section-binary {
    background-color: #5d89c7;
  }

  .memory-usage-section-code {
    background: linear-gradient(40deg, $color-elixir, adjust-color($color-elixir, $lightness: +10%));
  }

  .memory-usage-section-ets {
    background-color: #f9bc14;
  }

  .memory-usage-section-other {
    // #399ce9
    //background-color: #4e4b4b;
    background: linear-gradient(40deg, $color-gray-warm-800, adjust-color($color-gray-warm-800, $lightness: +10%));
  }

  .memory-usage-section-process {
    background: linear-gradient(40deg, $color-phoenix, adjust-color($color-phoenix, $lightness: +8%));
  }

  // Legend
  .memory-usage-legend-color {
    border-radius: 3px;
    display: inline-block;
    height: 16px;
    width: 16px;
  }

  .memory-usage-legend-entries {
    height: 100px;
  }

  .memory-usage-legend-entry {
    flex-basis: 33%;
  }

  .memory-usage-total {
    background-color: $color-gray-100;
    color: $color-gray-800;
  }

  .memory-usage-total-value {
    color: $text-color
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .memory-usage {
    .memory-usage-legend-entries {
      height: auto;
    }

    .memory-usage-legend-entry {
      flex-basis: auto;
    }
  }
}