.processes-page {
  .processes-table {
    color: $color-gray-900;

    th {
      background-color: $color-gray-100;
      white-space: nowrap;
    }

    tbody tr:hover {
      background-color: $color-gray-100;
    }
  }

  .custom-select {
    background-color: $color-gray;
    border-radius: $border-radius;
    border-width: 0;
  }

  .processes-table-wrapper {
    border-radius: $border-radius $border-radius 0 0;
    overflow-x: auto;
  }

  .icon-sort {
    display: inline-block;
    width: 0; 
    height: 0; 
    line-height: 6px;
    position: relative;
    top: -1px;
    vertical-align: middle;
  }

  .icon-asc {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid $color-gray-800;
  }

  .icon-desc {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid $color-gray-800;
  }

  .processes-icon {
    padding-left: 0.25rem;
    display: inline-block;
  }

  .processes-column-name {
    padding-right: 0;
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .processes-column-pid {
    color: $color-gray-800;
  }
}

@media (max-width: map-get($grid-breakpoints, xl)) {
  [data-phx-view="LiveDashboard.ProcessesLive"] {
    .container {
      max-width: 100%;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  [data-phx-view="LiveDashboard.ProcessesLive"] {
    .processes-card {
      border-radius: 0;
      margin-left: -2rem;
      margin-right: -2rem;
    }

    .processes-table {
      font-size: 0.85rem;
    }

    .processes-column-name {
      max-width: 150px;
    }
  }
}
