// Memory usage visualization
.resource-usage {
  .progress {
    border-radius: 2px;
    height: 1.5rem;
    background-color: transparent;
  }

  .progress-bar {
    border-color: white;
    border-style: solid;
    border-width: 0 1px;
  }

  .progress-bar:last-child {
    border-right-width: 0;
  }

  .progress-bar:first-child {
    border-left-width: 0;
  }

  // Section colors
  .resource-usage-solid-1 {
    background-color: $color-data-1;
  }
  .resource-usage-solid-2 {
    background-color: $color-data-2;
  }
  .resource-usage-solid-3 {
    background-color: $color-data-3;
  }
  .resource-usage-solid-4 {
    background-color: $color-data-4;
  }
  .resource-usage-solid-5 {
    background-color: $color-data-5;
  }
  .resource-usage-solid-6 {
    background-color: $color-data-6;
  }

  .resource-usage-gradient-1 {
    background: linear-gradient(40deg, $color-data-1, adjust-color($color-data-1, $lightness: +10%));
  }

  .resource-usage-gradient-2 {
    background: linear-gradient(40deg, $color-data-2, adjust-color($color-data-2, $lightness: +10%));
  }

  .resource-usage-gradient-3 {
    background: linear-gradient(40deg, $color-data-3, adjust-color($color-data-3, $lightness: +10%));
  }

  .resource-usage-gradient-4 {
    background: linear-gradient(40deg, $color-data-4, adjust-color($color-data-4, $lightness: +10%));
  }

  .resource-usage-gradient-5 {
    background: linear-gradient(40deg, $color-data-5, adjust-color($color-data-5, $lightness: +8%));
  }

  .resource-usage-gradient-6 {
    background: linear-gradient(40deg, $color-data-6, adjust-color($color-data-6, $lightness: +10%));
  }

  // Legend
  .resource-usage-legend-color {
    border-radius: 3px;
    display: inline-block;
    height: 16px;
    width: 16px;
  }

  .resource-usage-legend-entries {
    height: 100px;
  }

  .resource-usage-legend-entry {
    flex-basis: 33%;
  }

  .resource-usage-total {
    background-color: $color-gray-100;
    color: $color-gray-800;
  }

  .resource-usage-total-value {
    color: $text-color
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .resource-usage {
    .resource-usage-legend-entries {
      height: auto;
    }

    .resource-usage-legend-entry {
      flex-basis: auto;
    }
  }
}
