// Memory usage visualization
.resource-usage {
  .progress {
    border-radius: 2px;
    height: 1.5rem;
    background-color: transparent;
    position: relative;
  }

  .progress-title {
    color: $color-dark-gray;
    position: absolute;
    right: 6px;
    top: 2px;
    font-weight: bold;
  }

  .progress-bar {
    border-color: white;
    border-style: solid;
    border-width: 0 1px;
    min-width: 4px;
    flex-grow: 0;

    &[data-empty="true"] {
      display: none;
    }
  }

  .progress-bar:last-of-type {
    border-right-width: 0;
  }

  .progress-bar:first-of-type {
    border-left-width: 0;
    min-width: 3px;
  }

  // Legend
  .resource-usage-legend-color {
    border-radius: 3px;
    display: inline-block;
    height: 16px;
    width: 16px;
  }

  .resource-usage-total {
    background-color: $color-gray-100;
    color: $color-gray-800;
  }

  .resource-usage-total-value {
    color: $text-color
  }
}
