.tabular-page {
  .custom-select {
    background-color: $color-gray;
    border-radius: $border-radius;
    border-width: 0;
  }

  .tabular-column-name {
    padding-right: 0;
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tabular-column-id {
    color: $color-gray-800;
  }

  .tabular-column-bytes {
    text-align: right;
    white-space: nowrap;
  }

  .tabular-search {
    float: right;

    ::placeholder {
      color: $color-gray-600;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .tabular-card {
    border-radius: 0;
    margin-left: -2rem;
    margin-right: -2rem;
  }

  .tabular-table {
    font-size: 0.85rem;
  }

  .tabular-column-name {
    max-width: 150px;
  }
}
