@import "./app/variables";
@import "./app/fonts";
@import "~bootstrap/scss/bootstrap";

@import "./app/layout";

@import "./app/components/backgrounds";
@import "./app/components/banner_card";
@import "./app/components/buttons";
@import "./app/components/card";
@import "./app/components/charts";
@import "./app/components/code_field";
@import "./app/components/cookie_status";
@import "./app/components/copy_indicator";
@import "./app/components/header";
@import "./app/components/logs_card";
@import "./app/components/node_selection";
@import "./app/components/progress_section";
@import "./app/components/refresh_interval_selection";

@import "./app/liveview";

@import "../node_modules/nprogress/nprogress.css";
