@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

/* LiveView specific classes for your customizations */
.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

/* App metrics */
.phx-dashboard-metrics-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding: 0rem 1rem;
}

.phx-dashboard-metrics-col {
  flex: 1;
  flex-basis: 527px;
  min-width: 0;
}

@media (min-width: 40.0rem) {
  .phx-dashboard-metrics-col {
    flex-basis: 327px;
  }
}
